<p id="notice"><%= notice %></p>

<p>
  <strong>Id dev:</strong>
  <%= @oc_rcibida.id_dev %>
</p>

<p>
  <strong>Created at dev:</strong>
  <%= @oc_rcibida.created_at_dev %>
</p>

<p>
  <strong>Canal:</strong>
  <%= @oc_rcibida.canal %>
</p>

<p>
  <strong>Sku:</strong>
  <%= @oc_rcibida.sku %>
</p>

<p>
  <strong>Cantidad:</strong>
  <%= @oc_rcibida.cantidad %>
</p>

<p>
  <strong>Precio unit:</strong>
  <%= @oc_rcibida.precio_unit %>
</p>

<p>
  <strong>Entrega at:</strong>
  <%= @oc_rcibida.entrega_at %>
</p>

<p>
  <strong>Despacho at:</strong>
  <%= @oc_rcibida.despacho_at %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @oc_rcibida.estado %>
</p>

<p>
  <strong>Rechazo:</strong>
  <%= @oc_rcibida.rechazo %>
</p>

<p>
  <strong>Anulacion:</strong>
  <%= @oc_rcibida.anulacion %>
</p>

<p>
  <strong>Notas:</strong>
  <%= @oc_rcibida.notas %>
</p>

<p>
  <strong>Id factura dev:</strong>
  <%= @oc_rcibida.id_factura_dev %>
</p>

<%= link_to 'Edit', edit_oc_rcibida_path(@oc_rcibida) %> |
<%= link_to 'Back', oc_rcibidas_path %>
