<p id="notice"><%= notice %></p>

<p>
  <strong>Id dev:</strong>
  <%= @oc_recibida.id_dev %>
</p>

<p>
  <strong>Created at dev:</strong>
  <%= @oc_recibida.created_at_dev %>
</p>

<p>
  <strong>Canal:</strong>
  <%= @oc_recibida.canal %>
</p>

<p>
  <strong>Sku:</strong>
  <%= @oc_recibida.sku %>
</p>

<p>
  <strong>Cantidad:</strong>
  <%= @oc_recibida.cantidad %>
</p>

<p>
  <strong>Precio unit:</strong>
  <%= @oc_recibida.precio_unit %>
</p>

<p>
  <strong>Entrega at:</strong>
  <%= @oc_recibida.entrega_at %>
</p>

<p>
  <strong>Despacho at:</strong>
  <%= @oc_recibida.despacho_at %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @oc_recibida.estado %>
</p>

<p>
  <strong>Rechazo:</strong>
  <%= @oc_recibida.rechazo %>
</p>

<p>
  <strong>Anulacion:</strong>
  <%= @oc_recibida.anulacion %>
</p>

<p>
  <strong>Notas:</strong>
  <%= @oc_recibida.notas %>
</p>

<p>
  <strong>Id factura dev:</strong>
  <%= @oc_recibida.id_factura_dev %>
</p>

<%= link_to 'Edit', edit_oc_recibida_path(@oc_recibida) %> |
<%= link_to 'Back', oc_recibidas_path %>
