<p id="notice"><%= notice %></p>

<p>
  <strong>Almacenid:</strong>
  <%= @alamacene.almacenid %>
</p>

<p>
  <strong>Tamano:</strong>
  <%= @alamacene.tamano %>
</p>

<%= link_to 'Edit', edit_alamacene_path(@alamacene) %> |
<%= link_to 'Back', alamacenes_path %>
