<p id="notice"><%= notice %></p>

<p>
  <strong>Sku:</strong>
  <%= @costo.SKU %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @costo.Descripcion %>
</p>

<p>
  <strong>Lote:</strong>
  <%= @costo.Lote %>
</p>

<p>
  <strong>Unidad:</strong>
  <%= @costo.Unidad %>
</p>

<p>
  <strong>Sku ingrediente:</strong>
  <%= @costo.SKU_Ingrediente %>
</p>

<p>
  <strong>Ingrediente:</strong>
  <%= @costo.Ingrediente %>
</p>

<p>
  <strong>Requerimiento:</strong>
  <%= @costo.Requerimiento %>
</p>

<p>
  <strong>Unidad:</strong>
  <%= @costo.Unidad %>
</p>

<p>
  <strong>Ingrediente:</strong>
  <%= @costo.Ingrediente %>
</p>

<p>
  <strong>Precio ingrediente:</strong>
  <%= @costo.Precio_Ingrediente %>
</p>

<%= link_to 'Edit', edit_costo_path(@costo) %> |
<%= link_to 'Back', costos_path %>
